////////////////// color base /////////////////////
$black:#111111;
$navy:#001f3f;
$lizard:#304352;
$teal:#39CCCC;
$olive:#3D9970;
$blue:#0074D9;
$gray:#aaaaaa;
$aqua:#7FDBFF;
$cloud:#FDFDFD;
//////////////////// base ////////////////////
$primary-color:#FFFFFF;
$headlineColor:#FFFFFF;
$textColor:#FFFFFF;
$accent: #FFFFFF;
$accent-light:#FFFFFF;
$bgcolor:#FFFFFF;
$link-color:#FFFFFF;
$selectionColor:#FFFFFF;
$documentBackgroundColor:#FFFFFF;
/////////////////// about section///////////////////
$base-background-color: #FFFFFF !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$grid-item-columns: 4;
$grid-item-big-columns: 8;
$grid-item-color: $lizard;
$grid-item-height: 14em;