<section class="about" id="about">
    <h2>
        about
    </h2>
    <div class="hero">
        <div class="hero-content ">
            <img src="assets/img/creator/hero-1.jpg" class="img-circle" alt="myself ">
        </div>

        <div class="grid-items-lines ">
            <a href="javascript:void(0) " class="grid-item ">
                <h1>introduction</h1>
                <p>Mr.Prachya Boonsri</p>
                <p>Tor [Tiw for close friends]</p>
            </a>
            <a href="javascript:void(0) " class="grid-item ">
                <h1>education</h1>
                <p>Information engineering</p>
                <p>King Mongkut's Institute of Technology Ladkrabang</p>
            </a>
            <a href="javascript:void(0) " class="grid-item ">
                <h1>activity & experience</h1>
                <p>- ITBox team</p>
                <p>- International Student Project Conference 2016 at Mahidol University : Pathly Project (Bangkok Public - Transportation Recommendation System)
                </p>
            </a>
            <a href="javascript:void(0) " class="grid-item ">
                <h1>award & honors</h1>
                <p> - Best IT Engineering Award & Best Exibition Award <br>@Project Day KMITL</p>
                <p> - First (1st) Prize Award @ISPC conference </p>
            </a>
            <a href="javascript:void(0) " class="grid-item grid-item-big ">
                <h1>wanna know?</h1>
                <p>no more .... </p>
            </a>

            <div class="right-cover "></div>
            <div class="bottom-cover "></div>
        </div>
    </div>

</section>