<section class="contact" id="contact">
    <h2>
        am i out of touch ?
    </h2>
    <div class="contact-container">
        <div class="contact-box">
            <div class="icons">
                <img src="../assets/1-tools/icons/icon-mail.svg" alt="">
                <p>mrboonsri.p@gmail.com</p>
            </div>
            <div class="icons">
                <img src="../assets/1-tools/icons/icon-phone.svg" alt="">
                <p>(+66) 804092454</p>
            </div>
            <div class="icons">
                <a href="javascript:void(0)">
                    <p>www.linkedin.com/in/Prachya-boonsri</p>
                </a>
                <a href="javascript:void(0)">
                    <p>wwww.facebook.com/prachya.boon</p>
                </a>
                <a href="javascript:void(0)">
                    <p>wwww.pinterest.com/Deepocanfish52</p>
                </a>
            </div>
        </div>

        <div class="credit">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                    target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>
</section>