<header class="blog" style="background-image: url('assets/img/bg-ocean.jpg')">
    <nav>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/">
                home
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                resume
                </a>
            </li>
    </nav>
    <div class="site-heading">
        <h1><span>  Blog  </span></h1>
        <hr class="line">
        <p class="text-mine "> my story </p>
    </div>
</header>